*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.start-quiz{
    background-color: #ffc107;
    color: #000;
    display: inline-block;
    padding:15px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}


.start-quiz:hover{
    background-color: #ffca2c;
    border-color: #ffc720;
    cursor:pointer;
}



.question-panel{
    position: absolute;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.7s ease;
    top: 50%;
    left: 50%;
    min-width: 50%;
    border:rgba(0, 0, 0, 0.125) 1px solid ;
    border-radius: 15px;
    visibility: hidden;
}

@media (max-width: 900px) {
    .question-panel {
        min-width: 80%;
    }
}



.question-panel__header{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-panel__header h3{
    font-size: 20px;
    font-weight: 600;

}
.timer{
    background-color: #143F68;
    color: #fff;
    padding: 9px;
    border-radius: 5px;
}
.timer-text{
    margin-right: 7px;
}

.timer-number{
    background-color: #F0A500;
    border-radius: 5px;
    padding: 5px;
}

.question-panel__body{
    padding: 20px;
}

.question-text{
    font-weight: 600;
    font-size: large;
    margin-bottom: 20px;
}
.option{
    padding: 10px;
    border: 1px solid #151D3B;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* pointer-events: none; */
}

.option.correct{
    color: #155724;
    background: #d4edda;
}
.option.incorrect{
    color: #721c24;
    background: #f8d7da;
}

.option:hover{
    cursor: pointer;
    background-color: #FFD33D;
}

.option b{
    margin-right: 3px;
}

.question-panel__footer{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-number{
    background-color: #F0A500;
    color: #fff;
    padding: 3px 7px;
    border-radius: 4px;
}

.btn-next{
    background-color: #0d6efd;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    display: none;
}
.btn-next:hover{
    background-color: #0b5ed7;
    cursor: pointer;
}
.btn-last{
    background-color: #0d6efd;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    display: none;
}
.btn-last:hover{
    background-color: #0b5ed7;
    cursor: pointer;
}

.timer-line{
    background-color: #F0A500;
    height: 5px;
    width: 0%;
}

.result-panel{
    position: absolute;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.7s ease;
    top: 50%;
    left: 50%;
    min-width: 50%;
    border:rgba(0, 0, 0, 0.125) 1px solid ;
    border-radius: 15px;
    visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 40px;
    text-align: center;
}
@media (max-width: 900px) {
    .result-panel {
        min-width: 80%;
    }
}

.result-icon{
    font-size: 80px;
    color: rgb(0, 123, 255);
    margin-bottom: 20px;
}
.result-text{
    font-weight: 700;
    font-size: large;
    margin-bottom: 20px;
}

.result-panel__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.again-test, .finish-test{
    background-color: #0d6efd;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
}
.again-test:hover, .finish-test:hover{
    background-color: #0b5ed7;
    cursor: pointer;
}